<h1>Questions</h1>

<p><%= link_to 'Question new', questions_new_path %></p>
<% @questions.each do |question| %>

<h2><%= question.title %></h2>

<time datetime = "<%= question.formated_created_at%>">
    <%= question.formated_created_at%>
</time>

<p>
    <%= question.body %>
</p>


<% end %>
