<% provide :page_title, 'Question with Answers'%>
<% currently_at 'Questions' %>

<h1 class="mb-4">Show question</h1>

<article class="card mb-3 mt-3">
  <div class="card-body">

    <h4><%= @question.title %></h2>
  
    <section class="card-text">
      <time datetime="<%= @question.formated_created_at %>">
        <small><%= @question.formated_created_at %></small>
      </time>
      <div class="my-2">
        <%= sanitize @question.body %>
      </div>
    </section>

    <%= link_to 'Back', questions_path(@question), class: 'btn btn-warning' %> 
    <%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
    <%= link_to 'Destroy', question_path(@question), class: 'btn btn-danger',
     data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </div>
</article>


<h2 class = 'mb-3 mt-5'>Write your answer</h2>
 
<%= render 'answers/form'%>

<h2 class = 'mb-3 mt-5'>Answers for this question</h2>

<%= paginate @answers%>
<%= render partial: 'answers/answer', collection: @answers, 
  as: :answer, locals: {question: @question}%>
<%= paginate @answers%>

  <%# обязательно указать то это паршал и указать путь
    колеция для того, чтобы все отображалось по очереди
    as для того, чтобы указать название элементов в коллекции
    так же для того чтобы не было ошибок в других элементах программы при вызове
    делаем из question локальную переменную и задаем ей значение 
    с помощью метода locals
    не забывать "=" после скобки %>
